[Desktop Entry]
Icon=text-html
Name=https://old.reddit.com/r/Mindustry/comments/kfea1e/an_overly_indepth_logic_guide/
Type=Link
URL[$e]=https://old.reddit.com/r/Mindustry/comments/kfea1e/an_overly_indepth_logic_guide/
